# Telegram
BOT_TOKEN=8641996615:AAEk8cdPJ6_END28Q_6YaDIMpvD2W7iHAzI
TELEGRAM_ADMIN_IDS=387957921,987654321

# URLs
APP_URL=https://your-app.vercel.app
FRONTEND_URL=http://localhost:5173

# Server
PORT=3001
NODE_ENV=development

# Dev only - bypass Telegram auth for testing
DEV_BYPASS_AUTH=false
